<div class="menu">
    Tipos
    <ul>
        <li>Consolas</li>
        <li>Hardware</li>
        <li>Juegos</li>
        <li>Accesorios y perifericos</li>
        <li>Juegos de mesa</li>
        <li>Programas</li>
    </ul>
    Categorias
    <ul>
        <li><i class="fa-solid fa-gamepad"></i>PS4</li>
        <li><i class="fa-solid fa-gamepad"></i>XBOX</li>
        <li><i class="fa-solid fa-gamepad"></i>PC</li>
        <li><i class="fa-solid fa-gamepad"></i>Aventura</li>
        <li><i class="fa-solid fa-gamepad"></i>Acción</li>
        <li><i class="fa-solid fa-gamepad"></i>Carreras</li>
        <li><i class="fa-solid fa-gamepad"></i>Peleas</li>
    </ul>
</div>