<div class="menu">
    Tipos
    <ul>
        <li><i class="fas fa-hand-point-right"></i>Consolas</li>
        <li><i class="fas fa-hand-point-right"></i>Hardware</li>
        <li><i class="fas fa-hand-point-right"></i>Juegos</li>
        <li><i class="fas fa-hand-point-right"></i>Accesorios y perifericos</li>
        <li><i class="fas fa-hand-point-right"></i>Juegos de mesa</li>
        <li><i class="fas fa-hand-point-right"></i>Programas</li>
    </ul>
    Categorias
    <ul>
        <li><i class="fab fa-playstation"></i> PS4</li>
        <li><i class="fab fa-xbox"></i> XBOX</li>
        <li><i class="fab fa-steam"></i> PC</li>
        <li><i class="fas fa-gamepad"></i> Aventura</li>
        <li><i class="fas fa-gamepad"></i> Acción</li>
        <li><i class="fas fa-gamepad"></i> Carreras</li>
        <li><i class="fas fa-gamepad"></i> Peleas</li>
    </ul>
</div>