<div class="d-none d-lg-inline float-left bg-secondary" style="height: 85vh;width: 12vw">
    <span class="m-3 text-white">Tipos</span>
    <ul class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-hand-point-right"></i>Consolas</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-hand-point-right"></i>Hardware</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-hand-point-right"></i>Juegos</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-hand-point-right"></i>Accesorios y perifericos</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-hand-point-right"></i>Juegos de mesa</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-hand-point-right"></i>Programas</a>
    </ul>
    <span class="m-3 text-white">Categorias</span>
    <ul class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-primary"><i class="fab fa-playstation"></i> PS4</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fab fa-xbox"></i> XBOX</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fab fa-steam"></i> PC</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-gamepad"></i> Aventura</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-gamepad"></i> Acción</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-gamepad"></i> Carreras</a>
        <a href="/" class="list-group-item list-group-item-primary"><i class="fas fa-gamepad"></i> Peleas</a>
    </ul>
</div>