<div class="menu">
    Tipos
    <ul>
        <li>Consolas</li>
        <li>Hardware</li>
        <li>Juegos</li>
        <li>Accesorios y perifericos</li>
        <li>Juegos de mesa</li>
        <li>Programas</li>
    </ul>
    Categorias
    <ul>
        <li>PS4</li>
        <li>XBOX</li>
        <li>PC</li>
        <li>Aventura</li>
        <li>Acción</li>
        <li>Carreras</li>
        <li>Peleas</li>
    </ul>
</div>