<footer class="w-100 bg-dark text-white b-0">
    <div class="float-left">
        <ul>
            Redes:
            <li>
                Seguinos en nuestro <a href=""><i class="fab fa-instagram"></i>instagram</a>
            </li>
            <li>
                Enterate de nuestras novedades en nuestro <a href=""><i class="fab fa-facebook"></i>facebook</a> y <a href=""><i class="fab fa-twitter"></i>twitter</a>
            </li>            
        </ul>
    </div>
    <div class="float-rigth">
        <ul>
            Datos de contacto:
            <li>
                Comunicate con nosotros con nuestro mail:
            </li>
            <li>
                o llamanos al <i class="fas fa-phone"></i>011-030-3456
            </li>
            <li>
                o pasate por nuestro local en calle falsa 123, en san nicolas de los arroyos
            </li>
        </ul>
    </div>
</footer>