<header>
    <div>
        <a href=""><h1>Inicio</h1></a>
    </div>
    <div>
        <img src="img/icono.png" width="80px">
    </div>
    <div class="form-login">
        <span><i class="fas fa-user"></i> Ingreso de usuarios</span>
        <div class="form-login">
            <form>
                <input type="email" placeholder="Ingrese su e-mail">
                <input type="password" placeholder="Ingrese su contraseña">
                <button type="button">
                    <i class="fas fa-arrow-alt-circle-right"></i> Ingresar
                </button>
            </form>
        </div>
        <div>
            <h1>Bienvenido NOMBRE USUARIO</h1>
        </div>
    </div>
</header>