<header class="text-center bg-primary">
    <div class="d-inline float-left">
        <i class="fas fa-bars fa-3x"></i>
        <a href="" class="text-white"><i class="fas fa-home fa-3x"></i>Inicio</a>
    </div>
    <div class="d-inline">
        <img src="img/icono.png" width="80px">
    </div>
    <div class="d-inline float-right text-left">
        <i class="fas fa-user"></i> Ingreso de usuarios
        <div class="form-login">
            <form>
                <input type="email" placeholder="Ingrese su e-mail">
                <input type="password" placeholder="Ingrese su contraseña">
                <button class="rounded btn btn-sm btn-success">
                    <i class="fas fa-arrow-alt-circle-right"></i> Ingresar
                </button>
            </form>
        </div>
        <div>
            Bienvenido NOMBRE USUARIO
        </div>
    </div>
</header>