<article class="product text-center">
    <img src="https://http2.mlstatic.com/D_NQ_NP_2X_964280-MLA46869170141_072021-F.webp">
    <a href="">
        <p class="productName">Play station 4 + juego</p>
        <p class="productPrice">$113.999</p>
        <p class="productDiscount">%Descuento</p>
    </a>
</article>