<article class="productDetail">
    <a href="/productDetails">
        <div>
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_964280-MLA46869170141_072021-F.webp">
        </div>
        <div>
            <ul class="productStats">
                <br>
                <li class="productName">Play station 4 + juego</li>
                <li class="productPrice">$113.999</li>
                <li class="productDiscount">%Descuento</li>
                <li class="productDescription">Poli estation 4, 250mb de espacio, + juego de regalo a eleccion (pong o tetris)</li>
            </ul>
        </div>
    </a>
</article>