<html>
    <%- include('../../partials/head')%>
    <body>
        <%- include('../../partials/header') %>
        <%- include('../../partials/adminNavBar') %>
        <div class="row justify-content-center mb-4">
            <div class="col-10 col-md-7">
                <h3 class="d-block">Carrito</h3>
                <div className='tabla'>
                    <div class='titulos'>
                        <div class='celda'>Imagen</div>
                        <div class='celda'>Nombre</div>
                        <div class='celda'>Precio</div>
                        <div class='celda'>Descuento</div>
                        <div class="celda">Cantidad</div>
                        <div class="celda">Total</div>
                    </div>
                    <% productos.forEach(producto => { %>
                        <%- include('./listProductsRow.ejs', {producto: producto}) %>
                    <% }) %>
                </div>
            </div>
            
        </div>
    </body>
</html>