<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <a href=""><h1>Inicio</h1></a>
            <img src="">
            <div>
                <span><i class="fas fa-user"></i> Ingreso de usuarios</span>
                <div>
                    <div>
                        <input type="email" placeholder="Ingrese su e-mail">
                    </div>
                    <div>
                        <input type="password" placeholder="Ingrese su contraseña">
                    </div>
                    <div>
                        <button type="button">
                            <i class="fas fa-arrow-alt-circle-right"></i> Ingresar
                        </button>
                    </div>
                </div>
                <div>
                    <h1>Bienvenido NOMBRE USUARIO</h1>
                </div>
            </div>
        </header>
        <section>
            <!-- Codigo pagina -->
        </section>
        <footer>
            <p>Footer</p>
        </footer>
    </body>
</html>
