<!DOCTYPE html>
<html>
    <%- include('../partials/head')%>
    <body>
        <%- include('../partials/header') %>
        <section class="justify-content-center">
            <img src="/img/404.png" class="m-4">
        </section>
        <%- include('../partials/footer') %>
    </body>
</html>
