<!DOCTYPE html>
<html>
<%- include('../partials/head')%>
    <body>
        <%- include('../partials/header') %>
            <section>
                <div class="d-none d-lg-inline float-left bg-secondary" style="height: 85vh;width: 12vw">
                    <span class="m-3 text-white">Categorias</span>
                    <ul class="list-group list-group-flush">
                        <a href="/" class="list-group-item list-group-item-primary"><i class="far fa-dot-circle"></i>
                            Categoria</a>
                    </ul>
                </div>
                <div class="ml-5 products text-left">
                        <% if (locals.mensajesDeError) { %>
                            <div>
                                mostrar errores
                            </div>
                            <% } %>
                                <div class='register'>
                                    <h3 class="p-3">Registro del usuario</h3>
                                    <p class="pl-4 pb-4 pr-4 pt-0">Complete los siguientes campos para poder registrarse
                                        en nuestra plataforma</p>
                                    <form action="/usuario/register" method="POST" class="register w-100">
                                        <label for="userName">Nombre de usuario:</label>
                                        <input class="form-control d-block" id="userName" type="text" name="userName"
                                            required>
                                        <label for="name">Nombre:</label>
                                        <input class="form-control d-block" id="name" type="text" name="name" required>
                                        <label for="surname">Apellido:</label>
                                        <input class="form-control d-block" id="surname" type="text" name="surname"
                                            required>
                                        <label for="mail">E-mail:</label>
                                        <input class="form-control d-block" id="mail" type="email" name="mail" required>
                                        <label for="bornDate">Fecha de nacimiento: </label>
                                        <input class="form-control d-block" id="bornDate" type="date" name="bornDate"
                                            required>
                                        <label for="pass">Contraseña:</label>
                                        <input class="form-control d-block" id="pass" type="password" name="pass"
                                            required>
                                        <label for="pass2">Repetir la contraseña:</label>
                                        <input class="form-control d-block" id="pass2" type="password" name="pass2"
                                            required>
                                        <button name="register" class="btn btn-sm btn-primary mt-3 w-100"
                                            type="submit">Registrarse</button>
                                    </form>
                                </div>
                </div>
            </section>
            <%- include('../partials/footer') %>
    </body>
</html>