<!DOCTYPE html>
<html>
    <%- include('../../partials/head')%>
    <body>
        <%- include('../../partials/header') %>
        <%- include('../../partials/adminNavBar') %>
        <div class="row justify-content-center mb-4">
            <h1 class="col-10 col-md-7">Bienvenido</h1>
            <h3 class="col-10 col-md-7">En este apartado de admin usted podra administrar sus usuarios y compras</h3>
        </div>
    </body>
</html>